<br>

  <!--Responsive cards-->
  <!--Handbags For Women-->
  <div class="main p-3">
    <h1 style="text-align: center; ">Women's: Handbags</h1>
    <ul class="cards">
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img (click)="viewTopware($event)" data-name="Men Reg Navy Kurta" data-price="1500" src="../../assets/Watches/1.Sling Bag With Strap.webp" data-per="89"></div>
          <div class="card_content">
            <h2 class="card_title">Sling Bag..</h2>
            <p class="card_text">Sling Bag With Strap</p>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img (click)="viewTopware($event)" data-name="Men Reg Navy Kurta" data-price="1500" src="../../assets/Watches/3.Textures Sling Bag.webp" data-per="91"></div>
          <div class="card_content">
            <h2 class="card_title">Textures Sling..</h2>
            <p class="card_text">Textures Sling Bag</p>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img (click)="viewTopware($event)" data-name="Men Reg Navy Kurta" data-price="1500" src="../../assets/Watches/2.StripedTote Bag With Strap.webp" data-per="81"></div>
          <div class="card_content">
            <h2 class="card_title">StripedTote..</h2>
            <p class="card_text">StripedTote Bag With Strap</p>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img (click)="viewTopware($event)" data-name="Men Reg Navy Kurta" data-price="1500" src="../../assets/Watches/6.Woven Jute Shoulder Bag.jpg" data-per="89"></div>
          <div class="card_content">
            <h2 class="card_title">Woven Jute..</h2>
            <p class="card_text">Woven Jute Shoulder Bag</p>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img (click)="viewTopware($event)" data-name="Men Reg Navy Kurta" data-price="1500" src="../../assets/Watches/4.Tote Bag With Strap&pouch.webp" data-per="88"></div>
          <div class="card_content">
            <h2 class="card_title">Tote Bag..</h2>
            <p class="card_text">Tote Bag With Strap&pouch</p>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img (click)="viewTopware($event)" data-name="Men Reg Navy Kurta" data-price="1500" src="../../assets/Watches/5.Printed Tote Bag.webp" data-per="99"></div>
          <div class="card_content">
            <h2 class="card_title">Tote Bag..</h2>
            <p class="card_text">Printed Tote Bag</p>
          </div>
        </div>
      </li>
    </ul>
  </div>




  
<h3 class="made_by">Made with ♡</h3>


<button id="myBtn" (click)="gotoup()"><i style="color: black;" class="fa fa-chevron-circle-up"></i></button>
